body{
    font-family: arial;
}


@font-face{
	font-family: radwave;
	src: url(Radwave.otf) ;
  }



.check{
    width:  100%; border: none; background-color: #b5dcf7ab; height: 3em; background-color: #000000; color: white;
}

.success{
    width: 100%; height: 2em; background-color: rgb(6, 224, 6); position: relative; text-align: center;padding-top: 0.4em;font-size: 1.4em;
}

.lowerCont{
    position: relative;
}

#infoConf{
    padding: 1em;
}

.box{
    margin: auto; width: 15em; overflow: hidden; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius:  10px; margin-top: 2em;
}

.info{
    width:100%; padding: 1em; position: relative; 
}

#price{
    font-weight: 800; font-size: 3em; margin: 0px
}

#name{
    margin: 0px
}

.flexThis{
    display:flex
}

.fit{
    width: fit-content;
}

.conf{
    margin-top: 2em;    background-color: #ffffff00;
}

.borderLess{
    background-color: #ffffff00;
    border-bottom: 1px solid black;
    border: none;
    color: black;
}


textarea:focus, input:focus{
  outline: none;
}